#intro .my-btn, #intro .invest-btn, #navigation .navbar .my-btn, #about .know-more-box .btn-box .my-btn, #investment .invest-item .invest-btn, #calculate .calc-btn, #blog .blog-item .blog-info .blog-btn {
  border: 1px solid #05bb59;
  padding: 5px 20px;
  color: #ffffff;
  background-color: #05bb59;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#intro .my-btn:hover, #intro .invest-btn:hover, #navigation .navbar .my-btn:hover, #about .know-more-box .btn-box .my-btn:hover, #investment .invest-item .invest-btn:hover, #calculate .calc-btn:hover, #blog .blog-item .blog-info .blog-btn:hover {
  background-color: transparent;
  color: #05bb59;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #19194b;
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}

.title::before {
  content: "";
  width: 120px;
  height: 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 25, 76, 0)), to(#00d563));
  background: linear-gradient(to right, rgba(25, 25, 76, 0), #00d563);
  position: absolute;
  top: 39%;
  left: -39%;
  opacity: 0.35;
}

.subtitle {
  color: #19194b;
}

body {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

#intro {
  padding: 250px 0;
  background-image: url(../img/intro-bg.jpg);
  position: relative;
  z-index: 0;
}

#intro::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0707077d;
  z-index: -1;
}

#intro p {
  margin: 35px 0;
}

#intro .my-btn {
  margin-right: 15px;
  padding: 12px 30px;
}

#intro .my-btn:hover {
  background-color: transparent;
  color: #05bb59;
}

#intro .invest-btn {
  background-color: transparent;
  padding: 12px 30px;
  border: 1px solid white;
}

#intro .invest-btn:hover {
  background-color: #05bb59;
  color: #ffffff;
  border: 1px solid #05bb59;
}

#welcome {
  background-color: #6d49eb;
  padding: 10px 0;
}

#welcome h5 {
  margin: 0;
}

#welcome .welcome-list {
  list-style-type: none;
  margin: 0;
}

#welcome .welcome-list .welcome-list-item {
  display: inline;
  margin-left: 10px;
}

#welcome .welcome-list .welcome-list-item i {
  font-size: 24px;
}

#welcome .welcome-list .welcome-list-item span {
  margin-left: 5px;
}

#navigation .navbar {
  top: 45px;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#navigation .navbar .navbar-nav .nav-item {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

#navigation .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

#navigation .navbar .my-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
}

#navigation .navbar .my-btn:hover {
  background-color: #ffffff;
  color: #6d49eb;
}

#navigation .navbar .dropdown-item {
  color: black !important;
}

#navigation .navbar .dropdown-menu {
  margin: 0;
}

#navigation .scrolled {
  top: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #19194b;
}

#statics {
  padding: 100px 0;
}

#statics p {
  color: #19194b;
}

#statics .statics-item {
  margin-top: 50px;
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
  padding: 35px 0;
  border-bottom: 5px solid #6d49eb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#statics .statics-item .img-box-wrapper {
  display: inline-block;
  border: 10px solid rgba(109, 73, 235, 0.2);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#statics .statics-item .img-box-wrapper .statics-img-box {
  background-color: #6d49eb;
  width: 50px;
  height: 50px;
}

#statics .statics-item .img-box-wrapper .statics-img-box img {
  padding: 10px;
}

#statics .statics-item h3 {
  margin-top: 30px;
  font-size: 34px;
}

#statics .statics-item h6 {
  font-size: 18px;
  margin-top: 20px;
}

#statics .statics-item:hover {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#statics .statics-item:hover .img-box-wrapper {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#about {
  padding: 100px 0;
  background-color: rgba(131, 100, 238, 0.05);
}

#about p {
  color: #19194b;
}

#about .know-more-box h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

#about .know-more-box p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(25, 25, 75, 0.8);
}

#about .know-more-box .btn-box {
  margin-top: 30px;
}

#about .know-more-box .btn-box .my-btn {
  padding: 13px 40px;
}

#about .about-img-wrapper {
  padding: 40px;
}

#features {
  padding: 100px 0;
}

#features h2::before {
  left: -24%;
}

#features p {
  color: #19194b;
}

#features .features-item {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
  padding: 35px;
  margin-top: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#features .features-item .img-box-wrapper {
  display: inline-block;
  border: 10px solid rgba(109, 73, 235, 0.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#features .features-item .img-box-wrapper .features-img-box {
  background-color: #6d49eb;
  width: 50px;
  height: 50px;
}

#features .features-item .img-box-wrapper .features-img-box img {
  padding: 10px;
}

#features .features-item h4 {
  margin: 25px 0;
}

#features .features-item p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(25, 25, 75, 0.8);
}

#features .features-item:hover {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#features .features-item:hover .img-box-wrapper {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#works {
  padding: 100px 0;
  background: url(../img/work-bg.jpg);
  height: 487px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#works .title {
  color: #ffffff;
}

#works .play-it {
  margin-top: 35px;
}

#works .play-it .play {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#works .play-it .play a {
  width: 70px;
  height: 70px;
  background: #05bb59;
  border-radius: 50%;
  text-align: center;
  line-height: 76px;
  display: inline-block;
}

#works .play-it .play a i {
  color: #ffffff;
  font-size: 25px;
}

#works .play-it .play:hover a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: white;
}

#works .play-it .play:hover i {
  color: #05bb59;
}

#works .play-it .play::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  background: rgba(0, 213, 99, 0.38);
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

#investment {
  padding: 100px 0;
}

#investment .invest-item {
  padding: 30px 0 40px;
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#investment .invest-item h4 {
  margin-bottom: 30px;
}

#investment .invest-item .percent-box {
  background-color: #19194b;
  padding: 12px 0;
}

#investment .invest-item .percent-box p {
  font-size: 35px;
  color: #ffffff;
  margin: 0;
}

#investment .invest-item .invest-list {
  list-style-type: none;
  padding: 15px;
  margin-top: 20px;
}

#investment .invest-item .invest-list .invest-list-item {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(25, 25, 75, 0.1);
}

#investment .invest-item .invest-btn {
  padding: 10px 25px;
}

#investment .invest-item:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#investors {
  background-color: rgba(131, 100, 238, 0.05);
  padding: 100px 0;
}

#investors .title::before {
  left: -24%;
}

#investors .investor-item {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

#investors .investor-item .investor-info {
  position: absolute;
  bottom: -44px;
  width: 100%;
  background: white;
  padding-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#investors .investor-item .investor-info h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  color: #19194b;
}

#investors .investor-item .investor-info h6 {
  color: #19194b;
  font-size: 16px;
  margin-bottom: 25px;
}

#investors .investor-item .investor-info .social-link {
  background-color: #19194b;
  padding: 10px 0;
}

#investors .investor-item .investor-info .social-link a {
  display: inline-block;
  margin-right: 10px;
}

#investors .investor-item .investor-info .social-link a i {
  color: white;
}

#investors .investor-item:hover .investor-info {
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#client {
  padding: 120px 0;
}

#client .items {
  margin-top: 15px;
}

#client .items .item {
  margin: 55px 10px;
  position: relative;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#client .items .item .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 41%;
  top: -50px;
}

#client .items .item .info {
  margin-top: 50px;
}

#client .items .item .info p {
  color: rgba(25, 25, 75, 0.8);
  font-size: 16px;
  line-height: 30px;
}

#client .items .item .info h5 {
  font-size: 18px;
  font-weight: 700;
  color: #19194b;
  text-transform: capitalize;
  margin-bottom: 3px;
}

#client .items .item .info h6 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: rgba(25, 25, 75, 0.9);
  margin-top: 10px;
}

#calculate {
  padding: 100px 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#calculate .title {
  color: #ffffff;
}

#calculate .title::before {
  left: -26%;
}

#calculate .subtitle {
  color: #ffffff;
}

#calculate select {
  height: 50px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #05bb59;
  border-radius: 30px;
  color: #ffffff;
}

#calculate select option {
  background-color: #19194b;
  color: #ffffff;
}

#calculate input {
  height: 50px;
  border: 1px solid #05bb59;
  border-radius: 30px;
  background: transparent;
}

#calculate span {
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
}

#calculate .calc-btn {
  height: 50px;
  display: inline-block;
  padding: 13px 75px 0 75px;
}

#calculate input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

#calculate input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

#calculate input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

#calculate input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

#calculate input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

#calculate input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

#calculate::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(#19194b, #000428);
  z-index: -1;
}

#calculate::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 35%;
  background-image: url(../../img/calculate.png);
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

#transaction {
  padding: 100px 0;
}

#transaction .title::before {
  left: -24%;
}

#transaction table {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
}

#transaction table thead {
  background-color: #6d49eb;
  color: #ffffff;
}

#transaction table thead th {
  padding: 25px;
}

#transaction table tbody tr th {
  padding-left: 30px;
}

#transaction table tbody tr th .profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transaction table tbody tr th .profile-box .profile {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #05bb59;
  padding: 3px;
}

#transaction table tbody tr th .profile-box .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#transaction table tbody tr th .profile-box .profile-name {
  margin-left: 15px;
}

#transaction table tbody tr td {
  padding: 28px 15px;
}

#transaction .actions {
  margin-top: 20px;
}

#transaction .actions .tr-btn {
  display: inline-block;
  margin-right: 25px;
  border: 1px solid #05bb59;
  padding: 12px 20px;
  color: #05bb59;
  background-color: transparent;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#transaction .actions .tr-btn:hover {
  background-color: #05bb59;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#transaction .actions .tr-btn.active {
  border: 1px solid #05bb59;
  padding: 12px 20px;
  color: #ffffff;
  background-color: #05bb59;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#transaction .contents {
  margin-top: 50px;
}

#transaction .contents .content {
  display: none;
}

#transaction .contents .content.active {
  display: block;
}

#commission {
  background-color: rgba(131, 100, 238, 0.05);
  padding: 100px 0;
}

#commission .title::before {
  left: -24%;
}

#commission .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

#commission .list .com-item {
  width: 33%;
  text-align: center;
  padding: 70px 50px 40px;
  position: relative;
}

#commission .list .com-item .perc {
  position: absolute;
  left: 32%;
  top: -50px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}

#commission .list .com-item .perc span {
  font-size: 30px;
  font-weight: 800;
}

#commission .list .com-item h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

#commission .list .com-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 69.5px 0 69.5px 12px;
  z-index: 2;
}

#commission .list .com-item:nth-child(odd) {
  background: #6d49eb;
}

#commission .list .com-item:nth-child(odd) .perc {
  -webkit-box-shadow: 0px -2px 50px -5px rgba(109, 73, 235, 0.5);
  box-shadow: 0px -2px 50px -5px rgba(109, 73, 235, 0.5);
}

#commission .list .com-item:nth-child(odd) .perc span {
  color: #6d49eb;
}

#commission .list .com-item:nth-child(odd)::after {
  border-color: transparent transparent transparent #6d49eb;
}

#commission .list .com-item:nth-child(even) {
  background: #05bb59;
}

#commission .list .com-item:nth-child(even) .perc {
  -webkit-box-shadow: 0px -2px 50px -5px rgba(5, 187, 89, 0.5);
  box-shadow: 0px -2px 50px -5px rgba(5, 187, 89, 0.5);
}

#commission .list .com-item:nth-child(even) .perc span {
  color: #05bb59;
}

#commission .list .com-item:nth-child(even)::after {
  border-color: transparent transparent transparent #05bb59;
}

#methods {
  position: relative;
  padding: 100px 0;
  background-image: url(../img/intro-bg.jpg);
}

#methods .title {
  color: #ffffff;
}

#methods .title::before {
  left: -24%;
}

#methods .subtitle {
  color: #ffffff;
}

#methods::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(#19194b, #000428);
  opacity: 0.8;
}

#methods .brands {
  margin-top: 50px;
}

#methods .brands .item .brand-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}

#methods .brands .item .brand-box img {
  padding: 20px;
  -webkit-filter: brightness(100%) invert(1);
          filter: brightness(100%) invert(1);
}

#blog {
  padding: 100px 0;
}

#blog .title::before {
  left: -29%;
}

#blog .blog-item {
  -webkit-box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
}

#blog .blog-item .blog-img {
  overflow: hidden;
}

#blog .blog-item .blog-img img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#blog .blog-item .blog-info {
  padding: 30px 20px 40px;
}

#blog .blog-item .blog-info h4 {
  color: #19194b;
  position: relative;
}

#blog .blog-item .blog-info h4::after {
  content: '';
  width: 50px;
  height: 8px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(25, 25, 76, 0)), to(#00d563));
  background: linear-gradient(to left, rgba(25, 25, 76, 0), #00d563);
  position: absolute;
  top: 39%;
  right: 7%;
  opacity: 0.35;
}

#blog .blog-item .blog-info p {
  font-size: 16px;
  line-height: 30px;
  color: rgba(25, 25, 75, 0.8);
  margin-top: 20px;
}

#blog .blog-item .blog-info .blog-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
}

#blog .blog-item:hover .blog-img img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */