%btn-shared {
    border: 1px solid $secondary-color;
    padding: 5px 20px;
    color: $text-color-white;
    background-color: $secondary-color;
    border-radius: 50px;
    text-decoration: none;
    @include transition(all 0.5s);

    &:hover{
        background-color: transparent;
        color: $secondary-color;
        @include transition(all 0.5s);
    }
  }


.title{
    @include title;
}