#features{

    padding: 100px 0;
    h2{
        &::before{
            left: -24%;
        }
    }
    p{
        color: $primary-color;
    }

    .features-item{
        box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.3);
        padding: 35px;
        margin-top: 30px;
        @include transition(all 0.5s);

        .img-box-wrapper{
            display: inline-block;
            border: 10px solid rgba(109, 73, 235, 0.2);
            @include transition(all 0.5s);

            .features-img-box{
                background-color: $helper-color;
                width: 50px;
                height: 50px;
                img{
                    padding: 10px;
                }
    
            }
        }
        
        h4{
            margin: 25px 0;
        }

        p{
            font-size: 16px;
            line-height: 30px;
            color: rgba(25, 25, 75, 0.8);  
        }

        &:hover{
            box-shadow: 2px 3px 20px -4px rgba(0, 0, 0, 0.8);
            @include transition(all 0.5s);
            transform: translateY(-5px);
            .img-box-wrapper{
                transform: rotate(-45deg);
                @include transition(all 0.5s)
            }
        }
    }

}