
#intro{
    padding: 250px 0;
    background-image: url(../img/intro-bg.jpg);
    position: relative;
    z-index: 0;

    &::after{
        content: '';
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        position: absolute;
        background-color: #0707077d;
        z-index: -1;
    }

    p{
        margin: 35px 0;
    }

    .my-btn{
        @extend %btn-shared;
        margin-right: 15px;
        padding: 12px 30px;

        &:hover{
            background-color: transparent;
            color: $secondary-color;
        }
    }

    .invest-btn{
        @extend %btn-shared;
        background-color: transparent;
        padding: 12px 30px;
        border: 1px solid white;

        &:hover{
            background-color: $secondary-color;
            color: $text-color-white;
            border: 1px solid $secondary-color;
        }
    }
}