@mixin transition($property){
    -webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
}

@mixin title {
    font-size: 40px;
    font-weight: 700;
    color: $primary-color;
    position: relative;
    margin-bottom: 15px;
    display: inline-block;

    &::before{
        content: "";
        width: 120px;
        height: 15px;
        background: linear-gradient(to right, rgba(25, 25, 76, 0), #00d563);
        position: absolute;
        top: 39%;
        left: -39%;
        opacity: 0.35;
    }
}