
$primary-color: #19194b;
$secondary-color: #05bb59;
$helper-color: #6d49eb;
$text-color-white: #ffffff;
$text-color: rgba(25, 25, 75, 0.8);
$font-f: 'Roboto', sans-serif;
$heading1-fontSize: 50px;
$heading2-fontSize: 40px;
$heading3-fontSize: 32px;



